*{
    margin: 0;
    padding: 0;
}
button{
    border-radius: 20px;
    border: 2px solid black;

}
.carousel-item{
    width: 100%;
    height: 550px;
    
}
body{
    height: 1000px;
    width: 100%;
}

ul li {
    display: inline-block;
    padding: 5px;
    margin: 6px;
    background-image: linear-gradient(to right, rgb(28, 95, 238),rgb(28, 95, 238));
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s ease;   
  }

ul li:hover {
    background-size: 100% 2px;
    font-weight: bold;
    color:rgb(28, 95, 238) !important ;
}

body{
    padding-top: 100px;
}

.konten{
    display:block ;
    height: 393px;
    width: 100%;
    background:linear-gradient(269.69deg, #AFB0FC 17.39%, rgba(255, 255, 255, 0) 95.65%);
    

}
.konten h3{
    position: absolute;
    width: 531px;
    height: 33px;
    left: 217px;
    middle: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */
    color: #101010;
}
.konten p{
    position: absolute;
    width: 465px;
    height: 83px;
    left: 217px;
    top: 790px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #101010;
}
.konten button{
    position: absolute;
    width: 131px;
    height: 42px;
    left: 217px;
    top:870px;
    background: #4978EA;
    border-color: white;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    border-radius: 25px;
}
.konten img{
    position: absolute;
    width: 392px;
    height: 282px;
    left: 846px;
    top: 680px;
    background: url(bus1.png);
}

.konten2{
    display:block ;
    height: 393px;
    width: 100%;
    background: linear-gradient(89.84deg, #AFB0FC 0.5%, rgba(175, 176, 252, 0) 68.62%);
}
.konten2 h3{
    position: absolute;
    width: 450px;
    height: 20px;
    left: 720px;
    middle: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */
    color: #101010;

}
.konten2 p{
    position: absolute;
    width: 530px;
    height: 51px;
    left: 720px;
    top: 1150px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #101010;
}
.konten2 img{
    position: absolute;
    width: 376px;
    height: 282px;
    left: 219px;
    top: 1050px;

background: url(bus2.png);
}

 footer{
    position: absolute;
    width: 1366px;
    height: 334px;
    left: 0px;
    top: 2253px;
    
    background: linear-gradient(360deg, #A5A6F6 0%, rgba(73, 120, 234, 0) 100%);
 }
 footer h3{
position: absolute;
width: 150px;
height: 33px;
left: 662px;
top: -80px;

font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 33px;
/* identical to box height */


color: #8B8B8B;
 }

 footer p {
    position: absolute;
    width: 1081px;
    height: 41px;
    left: 179px;
    top: 5px;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    
    color: #8B8B8B;
 }

 .container{
     padding-top: 50px !important;
 }

 @import url(https://fonts.googleapis.com/css?family=Open+Sans);

 body{
   background: #f2f2f2;
   font-family: 'Open Sans', sans-serif;
 }
 
 .search {
   width: 100%;
   position: relative;
   display: flex;
 }
 
 .searchTerm {
   position: absolute;
width: 340px;
height: 48px;
left: -250px;
top: 65px;

background: #FFFFFF;
border-radius: 20px;
 }
 
 /*Resize the wrap to see the search bar change!*/
 .wrap{
   width: 30%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 } 
 .searchTerm::placeholder{
     text-align: center;
 }

 .searchTerm img{
    position: absolute;
    width: 55.95px;
    height: 48.43px;
    left: px;
    top: 50px;
    padding-right: 500px;
    background: #E3EBFE;
    border-radius: 20px 0px 0px 20px;
 }


