* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(187, 187, 187);
}

::-webkit-scrollbar-thumb:hover {
  background: #527BDD;
}

body {
  line-height: 1.5em;
}
.autoHeight{
  height: 100vh;
}

.colorPrimary {
  background-color: #527bdd;
}
.colorSecondary {
  background-color: #f1f3fd;
}

.bg-img{
  background-image: url("../img/bg-pattern.png");
  background-position: 0px -80px;
  background-size: cover;
}

.custHeight {
  height: 900px;
}
.customMargin1 {
  margin-bottom: 46px;
}
.banner {
  text-align: center;
  font-family: Poppins-Bold;
  color: white;
}
.banner h3 {
  font-size: 24px;
}
.banner h3 span {
  font-size: 14px;
  font-family: Poppins-Medium;
}

.judul h4 {
  font-size: 24px;
  font-family: Roboto-Bold;
  line-height: 1em;
}

.judul h4 span {
  font-size: 12px;
  font-family: Poppins-Regular;
}


input.form-control-user {
  font-size: 14px;
  border-radius: 5px;
  padding: 14px;
}

.form-label{
  font-size: 12px;
  font-family: Roboto-Medium;
  margin-bottom: 4px;
}

.form-check-label{
  font-size: 12px;
  color: #A1A1A1;
}

.btn-login {
  font-size: 0.8rem;
  font-family: Roboto-Medium;
  border-radius: 30px;
}

.btn-login:hover{
  background-color: #3669e0;
}

.btn-daftar{
  font-size: 0.8rem;
  font-family: Roboto-Medium;
  border-radius: 30px;
  color: #25282B;
  border: 1px solid #FB3F4A;
}

.btn-daftar:hover{
  color: white;
  background-color: #FB3F4A;
}

.btn-block {
  display: block;
  width: 85%;
  height: 38px;
}

.panel {
  width: 54%;

  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 12px;
}

.small {
  text-decoration: none;
}
a.small:hover {
  font-weight: bold;
  text-decoration: underline;
}

footer{
  font-size: 11px;
  font-family: Roboto-Light;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .panel {
    width: 54%;
  
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 12px;
  }
}

@media screen and (max-width: 680px) {
  .panel {
    width: 100%;
  
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 12px;
  }
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {   
  border-color: #527BDD;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #527BDD;
  outline: 0 none;
  transition: 0.5s ease-in-out;
}
