* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(187, 187, 187);
}

::-webkit-scrollbar-thumb:hover {
  background: #527bdd;
}

body {
  line-height: 1.5em;
}
.autoHeight {
  height: 100vh;
}

.colorPrimary {
  background-color: #527bdd;
}
.colorSecondary {
  background-color: #f1f3fd;
}

.bg-img {
  background-image: url("../img/bg-pattern.png");
  background-position: 0px -80px;
  background-size: cover;
}

.custHeight {
  height: 900px;
}
.customMargin1 {
  margin-bottom: 46px;
}
.banner {
  text-align: center;
  font-family: Poppins-Bold;
  color: white;
}
.banner h3 {
  font-size: 24px;
}
.banner h3 span {
  font-size: 14px;
  font-family: Poppins-Medium;
}

.judul h4 {
  font-size: 24px;
  font-family: Roboto-Bold;
  line-height: 1em;
}

.judul h4 span {
  font-size: 12px;
  font-family: Poppins-Regular;
}

input.form-control-user {
  font-size: 14px;
  border-radius: 5px;
  padding: 14px;
}

input.form-control-user2 {
  font-size: 14px;
  border-radius: 5px;
  padding: 10px;
}

.form-label {
  font-size: 12px;
  font-family: Roboto-Medium;
  margin-bottom: 4px;
}

.form-check-label {
  font-size: 12px;
  color: #a1a1a1;
}

.form-check-label2 {
  font-size: 14px;
  color: #000000;
}

.btn-login {
  font-size: 0.8rem;
  font-family: Roboto-Medium;
  border-radius: 30px;
}

.btn-login:hover {
  background-color: #3669e0;
}

.btn-daftar {
  font-size: 0.8rem;
  font-family: Roboto-Medium;
  border-radius: 30px;
  color: #25282b;
  border: 1px solid #fb3f4a;
}

.btn-daftar:hover {
  color: white;
  background-color: #fb3f4a;
}

.btn-block {
  display: block;
  width: 85%;
  height: 38px;
}

.panel {
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  margin-bottom: 24px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(26, 26, 26, 0.151), inset 0 -5px 1px #fedd00 !important;
}

.panelFormDaftar {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  margin-bottom: 24px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(26, 26, 26, 0.151), inset 0 -5px 1px #fedd00 !important;
}

.small {
  text-decoration: none;
}
a.small:hover {
  font-weight: bold;
  text-decoration: underline;
}

footer {
  font-size: 11px;
  font-family: Roboto-Light;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .panel {
    width: 54%;

    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 12px;
    transition: 0.4s ease-in-out;
  }
}

@media screen and (max-width: 680px) {
  .panel {
    width: 100%;

    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 12px;
    transition: 0.4s ease-in-out;
  }
  .markQuestion {
    right: 10px;
    margin-right: 20px;
    margin-top: -65px;
    transition: 0.4s ease-in-out;
  }
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="checkbox"]:focus,
input[type="search"]:focus {
  border-color: #527bdd;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px #527bdd;
  outline: 0 none;
  transition: 0.4s ease-in-out;
}

.custBtn {
  width: 45px;
  height: 45px;
  box-shadow: 0 2px 4px #25282b;
}

.markQuestion {
  top: 600px;
  right: 10px;
  margin-right: 20px;
  transition: 0.4s ease-in-out;
}
.txt_mark {
  font-size: large;
  font-weight: bold;
}

/* Custom Placeholder */
::placeholder {
  color: #d6d6d6 !important;
}

.form-select {
  padding: 10px;
  font-size: 14px;
}

