*{
    margin: 0;
    padding: 0;
}
button{
    border-radius: 20px;
    border: 2px solid black;

}

section{
    background-image: url(assets/img/image_3.png);
    width: 86px;
        height: 30px;
        vertical-align: middle;
        padding: 10px;
        color: #fff;
        text-decoration: none;
}